@media screen and (min-width: 320px) and (max-width: 699px) {
    nav {
        display: none;
    }
    .mobite-nav {
        display: block;
    }
    body .box-container{
        height: 1500px;
        flex-direction: column;
    }
    body .box-container{
        height: 1500px;
        flex-direction: column;
    }
    body .gcssForbox{
        box-shadow: none;
        width: 100%;
    }
    body .box1{
        box-shadow: none;
        width: 100%;
        border-radius: 8px 8px 0 0;
    }
    body .box2{
        box-shadow: none;
        width: 100%;
        border-radius: 0;
    }
    body .box3{
        box-shadow: none;
        width: 100%;
        border-radius: 0 0 8px 8px;
        margin-bottom:50px ;
    }
}

@media screen and (min-width: 700px) and (max-width: 1023px) {
    nav {
        display: none;
    }
    .mobite-nav {
        display: block;
    }
    body .box-container{
        height: 1500px;
        flex-direction: column;
    }
    body .box-container{
        height: 1500px;
        flex-direction: column;
    }
    body .gcssForbox{
        box-shadow: none;
        width: 100%;
    }
    body .box1{
        box-shadow: none;
        width: 100%;
        border-radius: 8px 8px 0 0;
    }
    body .box2{
        box-shadow: none;
        width: 100%;
        border-radius: 0;
    }
    body .box3{
        box-shadow: none;
        width: 100%;
        border-radius: 0 0 8px 8px;
        margin-bottom:50px ;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1399px) {
    nav {
        display: block;
    }
    .mobite-nav {
        display: none;
    }

}

@media screen and (min-width: 1400px)and (max-width: 1919px) {
    nav {
        display: block;
    }
    .mobite-nav {
        display: none;
    }

}

@media screen and (min-width: 1920px) {

}